# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Data
basemodel/data/raw/*
basemodel/data/processed/*
!basemodel/data/raw/.gitkeep
!basemodel/data/raw/README.md
!basemodel/data/processed/.gitkeep
!basemodel/data/processed/README.md
basemodel/models/checkpoints/*
!basemodel/models/checkpoints/README.md